@import "../../index.scss";

.notFoundContainer {
  @include Flex(column, center, center, 15px);
  height: 100vh;

  h1 {
    font-size: 4rem;
    font-weight: 600;
  }
  
  h2 {
    font-weight: 400;
    font-weight: 500;
  }
}
